ClínicaSPA/node_modules/
ClínicaSPA/.angular/cache/
ClínicaAPI/.vs/
ClínicaAPI/Clinica.Api/bin/
ClínicaAPI/Clinica.Api/obj/
ClínicaAPI/Clinica.Library.Tests/bin/
ClínicaAPI/Clinica.Library.Tests/obj/
ClínicaAPI/Clinica.Library/bin/
ClínicaAPI/Clinica.Library/obj/
ClínicaAPI/Clinica.Models/bin/
ClínicaAPI/Clinica.Models/obj/
ClínicaAPI/Clinica.Persistance/bin/
ClínicaAPI/Clinica.Persistance/obj/
