<div class="home-container" *ngIf="user">
    <h2>Bienvenido, {{ user.nombre }} {{ user.apellido }}</h2>

    <div class="dashboard-options">
        <ng-container *ngIf="user.rol === 'admin'">
            <div class="option-card">
                <h3>Gestión de Usuarios</h3>
                <a routerLink="/admin/usuarios">Ver usuarios</a>
            </div>
            <div class="option-card">
                <h3>Gestión de Pacientes</h3>
                <a routerLink="/admin/pacientes">Ver pacientes</a>
            </div>
            <div class="option-card">
                <h3>Gestión de Visitas</h3>
                <a routerLink="/admin/visitas">Agendar</a>
            </div>
        </ng-container>

        <ng-container *ngIf="user.rol === 'odontologo'">
            <div class="option-card">
                <h3>Mis Visitas</h3>
                <a routerLink="/odontologo/visitas">Ver visitas</a>
            </div>
        </ng-container>
    </div>
</div>