<header class="header">
  <div class="user-info dropdown-wrapper">
    <span>{{ user.nombre }} {{ user.apellido }}</span>

    <img 
      *ngIf="user.imagen" 
      [src]="'data:image/jpeg;base64,' + user.imagen" 
      alt="Perfil" 
      class="profile-pic"
      (click)="toggleDropdown()" />

    <img 
      *ngIf="!user.imagen" 
      src="assets/tooth-icon.png" 
      alt="Perfil" 
      class="profile-pic"
      (click)="toggleDropdown()" />

    <div class="dropdown-menu" *ngIf="showDropdown">
     <a (click)="editarPerfil()">Editar perfil</a>
     <a (click)="cerrarSesion()">Cerrar sesión</a>
    </div>

  </div>
</header>


