<div class="usuarios-container">
  <h2>Lista de Pacientes</h2>

  <div *ngIf="pacientes.length === 0" class="no-users">
    No hay pacientes registrados.
  </div>

  <div class="add-user-container">
    <button class="add-user-btn" (click)="irANuevoPaciente()">Agregar Paciente</button>
  </div>

  <div class="usuarios-list" *ngIf="pacientes.length > 0">
    <div *ngFor="let paciente of pacientes" class="usuario-card">
      <div class="user-image">
        <img [src]="'data:image/jpeg;base64,' + paciente.imagen" alt="{{ paciente.nombre }} {{ paciente.apellido }}" />
      </div>
      <h3>{{ paciente.nombre }} {{ paciente.apellido }}</h3>
      <p><strong>Teléfono:</strong> {{ paciente.telefono }}</p>
      <p><strong>Email:</strong> {{ paciente.email }}</p>
      <p><strong>Fecha de Nacimiento:</strong> {{ paciente.fecha_nacimiento }}</p>
      <p><strong>Tipo de Pago:</strong> {{ paciente.tipo_pago }}</p>

      <ng-container *ngIf="paciente.responsable_id; else noResponsable">
        <p><strong>Responsable ID:</strong> {{ paciente.responsable_id }}</p>
      </ng-container>

      <ng-template #noResponsable>
        <p><strong>Responsable:</strong> Sin responsable</p>
      </ng-template>

      <div class="actions">
        <button class="edit-btn" *ngIf="paciente.id !== undefined" (click)="editarPaciente(paciente.id)">Editar</button>
        <button class="delete-btn" *ngIf="paciente.id !== undefined"(click)="eliminarPaciente(paciente.id)">Eliminar</button>
      </div>
    </div>
  </div>
</div>