<div class="home-container">
    <h2>Gestión de Pacientes</h2>
    <div class="dashboard-options">
        <div class="option-card">
            <h3>Alta Paciente</h3>
            <p (click)="setModo('alta')">Agregar un nuevo paciente</p>
        </div>

        <div class="option-card">
            <h3>Modificar Paciente</h3>
            <p (click)="setModo('modificar')">Editar los datos de un paciente existente</p>
        </div>

        <div class="option-card">
            <h3>Baja Paciente</h3>
            <p (click)="setModo('baja')">Eliminar un paciente</p>
        </div>

        <div class="option-card">
            <h3>Historial de Paciente</h3>
            <p (click)="setModo('historial')">Ver historial de un paciente</p>
        </div>
    </div>

    <div class="paciente-list-container">
        <h3>Lista de Pacientes</h3>
        <div class="paciente-list">
            <div class="paciente-card" *ngFor="let paciente of pacientes">
                <h4>{{ paciente.nombre }}</h4>
                <p>Edad: {{ paciente.edad }}</p>
                <p>Tipo de Pago: {{ paciente.tipoPago }}</p>
                <p>Responsable: {{ paciente.responsable || 'No Aplica' }}</p>
                <a [routerLink]="['/pacientes', paciente.id]">Ver detalles</a>
            </div>
        </div>
    </div>
</div>
